@import "../base/variables";

footer {
    background-color: $clr-black;
    color: $clr-white;

    padding: 3rem $mobile-padding;
    
    display: grid;
    gap: 1.6rem;
}

footer .logo {
    text-align: center;
}

footer .nav-item {
    text-align: center;
    text-transform: none;
    margin-bottom: 10px;

    @media (max-width: 768px) {
        font-size: 1rem;
        font-weight: 500;
    }
}
.nav-item:hover {
    cursor: pointer;
}

.media-icons {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin: 0 auto;
}
.media-icons:hover {
    cursor: pointer;
}

.copyright-notice {
    color: $clr-dark-grey;
    text-align: center;
}

@media (min-width: 770px) {
    footer {
        padding: 1.2rem $desktop-padding;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    footer .logo {
        font-size: 2rem;
        text-align: left;
    }

    .footer-nav-menu {
        display: flex;
        flex-direction: row;
        grid-row: 2/3;
        grid-column: 1/2;
        gap: 1.6rem;
    }

    .media-icons {
        align-items: center;
        margin-right: 0;
    }

    .copyright-notice {
        text-align: end;
    }
}