$breakpoint: 770px;

$ff-primary: 'Josefin Sans', sans-serif;

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-grey: hsl(0, 0%, 55%);
$clr-dark-grey: hsl(0, 0%, 41%);

$mobile-padding: 6%;
$desktop-padding: 8%;

$hamburger-width: 30px;
$hamburger-height: 22px;
$bar-height: 3.5px;
$bar-radius: 4.5px;

